.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: space-between;
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}
.header__link {
  display: flex;
  gap: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* idêntico à altura da caixa ou 122% */
  text-align: right;

  color: #ffffff;
  text-decoration: none;
}
.header__user {
  display: flex;
  gap: 56px;
}
.header__email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: right;

  color: #ffffff;
}
.header__logout {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-align: right;

  color: #a9a9a9;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
